<div class="bg-white bg-opacity-50 shadow-md rounded-md p-4">
  <div class="space-y-4">

    <!-- NYT Critic’s Pick Filter -->
    <div class="flex flex-col space-y-2">
      <label class="text-lg font-semibold">NYT Critic’s Pick:</label>
      <div class="flex flex-col md:flex-row md:space-x-4">
        <input
          type="text"
          class=" flex-1 rounded-md p-3 border border-gray-300 focus:outline-none focus:border-blue-500 transition w-72"
          placeholder="Enter search keyword"
        />
        <button
          class=" flex-3 px-6 py-3 rounded-md text-white font-bold bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 transition"
        >
          Apply
        </button>
      </div>
    </div>

    <!-- Order By Filter -->
    <div class="flex flex-col space-y-2">
      <label class="text-lg font-semibold">Results sorted by:</label>
      <div class="flex flex-col md:flex-row md:space-x-4"> <!-- Flexbox with space-x-4 for creating space on large screens -->
        <button
          class="flex-1 px-6 py-3 rounded-md text-white font-bold bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 transition"
        >
          Publication Date
        </button>
        <button
          class="flex-1 px-6 py-3 rounded-md text-white font-bold bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 transition"
        >
          Opening Date
        </button>
      </div>
    </div>
  </div>
</div>
