<!-- Movie item section -->
<div *ngIf="movie" class="movie-details">
  <h3 class="movie-title"><strong>Title : </strong>{{ movie.title }}</h3>
  <img class="movie-poster" [src]="movie.image" alt="{{ movie.title }} Poster">
  <div class="movie-info">
    <p class="movie-description">{{ movie.description }}</p>
    <p class="movie-info-item"><strong>Writer:</strong> {{ movie.writer }}</p>
    <p class="movie-info-item"><strong>Release Date:</strong> {{ movie.date }}</p>
  </div>
  <a [routerLink]="['/movies']" class="back-link">Back to Movie List</a>
</div>

<!-- Movie not found section -->
<div *ngIf="!movie" class="text-black-600">
  <p>Movie details not found.</p>
</div>
